<div class="support container-main section">
  <div class="section-container">
    <div class="title-div">
      <small>travel support</small>
      <h2>Plain your travel with confidence</h2>
      <p>Find help with booking and travel plans,
        see what to expect along the journey!</p>
    </div>
    <div class="info-div grid">
      <div class="text-div grid">
        <app-support-card description="Find help with booking and travel plans,
              see what to expect along the journey to your favourite destinations!"
                          travelerNumber="01"
                          requirements="Traveler requirements for Dubai"
                          [color]="'hsl(225, 50%, 48%)'"
        />
        <app-support-card description="Find help with booking and travel plans,
              see what to expect along the journey to your favourite destinations!"
                          travelerNumber="02"
                          requirements="Multi-risk travel insurance"
                          [color]="'hsl(15,74%,70%)'"
        />
        <app-support-card description="Find help with booking and travel plans,
              see what to expect along the journey to your favourite destinations!"
                          travelerNumber="03"
                          requirements="Chauffeur services at your arrival"
                          [color]="'hsl(28, 100%, 60%)'"
        />
      </div>
    </div>
    <div class="img-div flex">
      <img src="assets/passengers.png" alt="travelers"/>
    </div>
  </div>
</div>
