@import "src/sass/variables";
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:3rem;
  .main-text {
    background: $gradient-blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    line-height: 2.5rem;
    padding: .8rem;
  }
  .input-div{
    display: flex;
    padding: 2rem;
  }
  .btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
