<div class="container-main">
  <div class="home flex">
    <div class="main-text">
      <h1>Create Ever-lasting Memories With Us</h1>
    </div>
    <div class="home-images flex">
      <div class="video-div">
        <video src="assets/air-video.mp4" autoplay muted loop
               class="video"></video>
      </div>
      <img src="assets/airplane.png" class="plane" alt="plane"/>
    </div>
  </div>
  <app-search/>
  <app-support/>
  <app-info/>
  <app-lounge/>
  <app-travelers/>
  <app-subscribe/>
  <app-footer/>
</div>
