<div class="container-main home flex">
  <div data-aos="fade-up" data-aos-duration="3000" class="main-text">
    <h1>Create Ever-lasting Memories With Us</h1>
  </div>
  <div class="home-images flex">
    <div class="video-div">
      <video class="video" autoplay muted loop>
        <source src="assets/air-video.mp4" type="video/mp4">
      </video>
    </div>
    <img src="assets/airplane.png" class="plane" alt="plane"/>
  </div>
  <app-search/>
  <app-support/>
  <app-info/>
  <app-lounge/>
  <app-travelers/>
  <app-subscribe/>
  <app-footer/>
</div>
