<div class="travelers container-main section">
  <div class="section-container">
    <h2>
      Top travelers of this month!
    </h2>
    <div class="travelers-container grid" *ngFor="let traveler of travelers">
      <div class="single-traveler">
        <img [src]="traveler.destinationImage" alt="dest" class="dest"/>
        <div class="traveler-details">
          <div class="traveler-pic">
            <img [src]="traveler.travelerImage" alt="traveler" class="traveler-image"/>
          </div>
          <div class="traveler-name">
            <span>{{traveler.travelerName}}</span>
            <p>{{traveler.socialLink}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
