<div class="info section">
  <div class="info-container container-main">
    <div class="title-div flex">
      <h2>Travel to make memories all around the world!</h2>
      <button class="btn">
        View All
      </button>
    </div>
    <div class="cards grid">
      <div class="single-card grid">
        <div class="icon-div flex">
          <mat-icon class="icon">today icon</mat-icon>
        </div>
        <span class="card-title">Book & Relax</span>
        <p>You can also call airlines from your phone
          and book a flight ticket!</p>
      </div>
      <div class="single-card grid">
        <div class="icon-div flex color-one">
          <mat-icon class="icon">security</mat-icon>
        </div>
        <span class="card-title">Smart Checklist</span>
        <p>You can also call airlines from your phone
          and book a flight ticket!</p>
      </div>
      <div class="single-card grid">
        <div class="icon-div flex color-two">
          <mat-icon class="icon">check_circle_outline</mat-icon>
        </div>
        <span class="card-title">Save more</span>
        <p>You can also call airlines from your phone
          and book a flight ticket!</p>
      </div>
    </div>
  </div>
</div>
