<div class="footer">
  <div class="section-container container-main grid">
    <div class="grid-one">
      <div class="logo-div">
        <img src="assets/air-company-logo.png" class="logo" alt="logo"/>
      </div>
      <p>
        Your mind should be stronger than your feelings, fly!
      </p>
      <div class="social-icon flex">
        <mat-icon class="icon">facebook</mat-icon>
        <mat-icon class="icon">facebook</mat-icon>
        <mat-icon class="icon">facebook</mat-icon>
        <mat-icon class="icon">facebook</mat-icon>
      </div>
    </div>
    <div class="footer-links">
      <span class="link-title">Information</span>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Explore</a>
      </li>
      <li>
        <a href="#">Travel</a>
      </li>
      <li>
        <a href="#">Flight Status</a>
      </li>
      <li>
        <a href="#">Check-In</a>
      </li>
      <li>
        <a href="#">Manage your bookings</a>
      </li>
    </div>
    <div class="footer-links">
      <span class="link-title">Quick Guide</span>
      <li>
        <a href="#">FAQ</a>
      </li>
      <li>
        <a href="#">How to</a>
      </li>
      <li>
        <a href="#">Features</a>
      </li>
      <li>
        <a href="#">Baggage</a>
      </li>
      <li>
        <a href="#">Route Map</a>
      </li>
      <li>
        <a href="#">Our communities</a>
      </li>
    </div>
    <div class="footer-links">
      <span class="link-title">About Us</span>
      <li>
        <a href="#">Chauffeur</a>
      </li>
      <li>
        <a href="#">Our partners</a>
      </li>
      <li>
        <a href="#">Destination</a>
      </li>
      <li>
        <a href="#">Careers</a>
      </li>
      <li>
        <a href="#">Transport</a>
      </li>
      <li>
        <a href="#">Pragramme Rules</a>
      </li>
    </div>
  </div>
  <div class="copy-right flex">
    <p>Developed by <a href="https://github.com/Trip-booking-organisation">Jet Set Go</a></p>
  </div>
</div>
