<div class="flight-card">
  <div class="content-flight">
    <div class="flight-details">
      <div class="flight-info">
        <img src="assets/images/departures.png" alt="Departure Icon">
        <div class="flight-time">
          <p class="time">8:00</p>
          <p class="date">Tue, 05 Apr</p>
          <p class="place">New York, JFK</p>
        </div>
      </div>
      <div class="flight-divider">
        <div class="divider-line"></div>
        <img src="assets/images/mail.png" alt="Plane Icon">
        <div class="divider-line"></div>
      </div>
      <div class="flight-info">
        <img src="assets/images/arrivals.png" alt="Arrival Icon">
        <div class="flight-time">
          <p class="time">8:00</p>
          <p class="date">Tue, 05 Apr</p>
          <p class="place">Los Angeles,JFK</p>
        </div>
      </div>
    </div>
    <div class="flight-airline">
      <img src="assets/images/airline.png" alt="Airline Logo">
      <p class="airline-name">Delta Airlines</p>
    </div>
  </div>
  <div class="one-price">
    <h4 class="price-text">Price per passenger</h4>
    <div class="class-price">
      <p>Economy class: <span>100€</span></p>
    </div>
    <div class="class-price">
      <p>Business class: <span>100€</span></p>
    </div>
    <div class="class-price">
      <p>First class: <span>100€</span></p>
    </div>
  </div>
  <div class="total-price">
    <h4 class="price-tot">Additional Details</h4>
    <p class="price-text">Total price for all passengers <span class="price">249€</span></p>
    <div class="price-group flex">
      <p>Included: personal item, carry-on bag</p>
      <img src="assets/images/luggage.png" alt="bag"/>
      <img src="assets/images/suitcase.png" alt="bag"/>
    </div>
    <button class="btn book">Book Now</button>
  </div>
</div>
