<div class="flight-card">
  <div class="content-flight">
    <div class="flight-details">
      <div class="flight-info">
        <img src="assets/images/departures.png" alt="Departure Icon">
        <div class="flight-time">
          <p class="time">{{flight.departureTime}}</p>
          <p class="date">{{flight.departureDate}}</p>
          <p class="place">{{flight.departureAddress.city}}, {{flight.departureAddress.country}}</p>
          <p class="place">{{flight.departureAddress.airportName}}</p>
        </div>
      </div>
      <div class="flight-divider">
        <div class="divider-line"></div>
        <img src="assets/images/mail.png" alt="Plane Icon">
        <div class="divider-line"></div>
      </div>
      <div class="flight-info">
        <img src="assets/images/arrivals.png" alt="Arrival Icon">
        <div class="flight-time">
          <p class="time">{{flight.arrivalTime}}</p>
          <p class="date">{{flight.arrivalDate}}</p>
          <p class="place">{{flight.arrivalAddress.city}}, {{flight.arrivalAddress.country}}</p>
          <p class="place">{{flight.arrivalAddress.airportName}}</p>
        </div>
      </div>
    </div>
    <div class="flight-airline">
      <img src="assets/images/airline.png" alt="Airline Logo">
      <p class="airline-name">{{flight.companyName}}</p>
    </div>
  </div>
  <div class="one-price">
    <h4 class="price-text">Price per passenger</h4>
    <div class="class-price">
      <p>Economy class: <span>{{filterSeats("First")}}€</span></p>
    </div>
    <div class="class-price">
      <p>Business class: <span>{{filterSeats("Business")}}€</span></p>
    </div>
    <div class="class-price">
      <p>First class: <span>{{filterSeats("Economy")}}€</span></p>
    </div>
  </div>
  <div class="total-price">
    <h4 class="price-h">Additional Details</h4>
    <div class="total">
      <p class="price-text">Total price for all passengers <span class="price">{{flight.totalTicketPrize}}€</span></p>
    </div>
    <div class="price-group flex">
      <p>Included: personal item, carry-on bag</p>
      <img src="assets/images/luggage.png" alt="bag"/>
      <img src="assets/images/suitcase.png" alt="bag"/>
    </div>
    <button class="btn book" (click)="navigateToBook()">Book Now</button>
  </div>
</div>
