<div class="search container-main section">
  <div class="section-container grid" data-aos="fade-up" data-aos-duration="2000">
    <div class="btn-multi flex">
      <div class="btn-single">
        <span>Economy</span>
      </div>
      <div class="btn-single">
        <span>Business Class</span>
      </div>
      <div class="btn-single">
        <span>First Class</span>
      </div>
    </div>
    <div class="search-inputs flex">
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>where_to_vote</mat-icon>
        </div>
        <div class="texts">
          <h4>Location from</h4>
          <input matInput type="text"
                 placeholder="Where you are now?">
        </div>
      </div>
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="texts">
          <h4>Location to</h4>
          <input matInput type="text"
                 placeholder="Where you want to go?">
        </div>
      </div>
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="texts">
          <h4>Travelers</h4>
          <input matInput type="number"
                 placeholder="Add passenger number">
        </div>
      </div>
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>calendar_today</mat-icon>
        </div>
        <div class="texts">
          <h4>Date</h4>
          <input matInput type="date"
                 placeholder="Add date">
        </div>
      </div>
      <button (click)="searchFlights()" class="btn btn-block flex">
        Search flights
      </button>
    </div>
  </div>
</div>
