@import "src/sass/variables";
.passenger-container{
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 3%;
  .icon-container{
    display: flex;
    flex-direction: row;
    gap: 3px;
    img{
      width: 40px;
      height: 40px;
    }
  }
  .contact-container{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    background: $secondary-color;
    border-radius: 15px;
    padding: 6px;
    mat-form-field{
      background-color: $secondary-color!important;
      border-radius: 15px;
      width: 100%;
      padding: 6px;
    }
  }
}
